<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("/Views/AdminLayout/HeadPartial.cshtml")

<body>


    @await Html.PartialAsync("/Views/AdminLayout/LoaderPartial.cshtml")

    <div id="main-wrapper">

  
        @await Html.PartialAsync("/Views/AdminLayout/NavHeaderPartial.cshtml")

        @await Html.PartialAsync("/Views/AdminLayout/HeaderPartial.cshtml")

        @await Html.PartialAsync("/Views/AdminLayout/SideBarPartial.cshtml")

        <div class="content-body">

            @RenderBody()
   
        </div>

        @await Html.PartialAsync("/Views/AdminLayout/FooterPartial.cshtml")

    </div>

    @await Html.PartialAsync("/Views/AdminLayout/ScriptPartial.cshtml")

</body>

</html>