<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label">Dashboard</li>
            <li>
                <a class="has-arrow" href="/Default/Index/" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Siteye Git</span>
                </a>
            </li>
            <li>
                <a class="has-arrow" href="/AdminBrand/Index/" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Markalar</span>
                </a>
            </li>
            <li>
                <a class="has-arrow" href="/AdminSliderTitle/Index/" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Başlık</span>
                </a>
            </li>
            <li>
                <a class="has-arrow" href="/AdminCategory/Index/" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Kategoriler</span>
                </a>
            </li>
            <li>
                <a class="has-arrow" href="/AdminSubCategory/Index/" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Türler</span>
                </a>
            </li>
            <li>
                <a class="has-arrow" href="/AdminService/Index/" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Servisler</span>
                </a>
            </li>
            <li>
                <a class="has-arrow" href="/AdminProduct/Index/" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">İlanlar</span>
                </a>
            </li>
            <li>
                <a class="has-arrow" href="/AdminContact/Index/" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Mesajlar</span>
                </a>
            </li>
            <li>
                <a class="has-arrow" href="/AdminContactUs/Index/" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">İçerikler</span>
                </a>
            </li>
            <li>
                <a class="has-arrow" href="/AdminGallery/Index/" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Galeri</span>
                </a>
            </li>
            <li>
                <a class="has-arrow" href="/AdminGetInTouch/Index/" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">İletişim Yerleri</span>
                </a>
            </li>
            <li>
                <a class="has-arrow" href="/AdminProductProperty/Index/" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">İlan Detayları Belirle</span>
                </a>
            </li>
            <li>
                <a class="has-arrow" href="/AdminProductDetail/Index/" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">İlan Detayları Gör</span>
                </a>
            </li>
            <li>
                <a class="has-arrow" href="/AdminTeamFriend/Index/" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Çalışanlarım</span>
                </a>
            </li>
            <li>
                <a class="has-arrow" href="/AdminTestimonial/Index/" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Yorumlar</span>
                </a>
            </li>
        </ul>
    </div>
</div>
