@model IEnumerable<ResultTestimonialDto>
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Yorumlara Göz Atalım</h1>
            <p>Hakkımda ki Düşünceler</p>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
          @foreach (var item in Model)
            {
                <div class="testimonial-item bg-light rounded p-3">
                    <div class="bg-white border rounded p-4">
                        <p>@item.Content</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded" src="~/myimages/testimonial/@item.ImageUrl" style="width: 45px; height: 45px;">
                            <div class="ps-3">
                                <h6 class="fw-bold mb-1">@item.Name</h6>
                                <small>@item.Title</small>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
