@model UpdateTestimonialDto
@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div style="background-color:white">
    <form method="post" asp-action="UpdateTestimonial" asp-controller="AdminTestimonial">
        <div class="text-danger" asp-validation-summary="All"></div>
        <input type="hidden" asp-for="TestimonialId" />
        <label>Marka İsmi</label>
        <input type="text" class="form-control" asp-for="Name" placeholder="Marka Adını Giriniz">
        <br />
        <label>Başlık</label>
        <input type="text" class="form-control" asp-for="Title" placeholder="Başlık Giriniz">
        <br />
        <label>Yorum</label>
        <input type="text" class="form-control" asp-for="Content" placeholder="Yorum Giriniz">
        <br />
        <label>Resim Adı</label>
        <input type="text" class="form-control" asp-for="ImageUrl" placeholder="Resim Adını Giriniz">
        <br />
        <div class="form-check form-switch">
            <input asp-for="Status" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
            <label class="form-check-label" for="flexSwitchCheckDefault">Durumu</label>
        </div>
        <br />
        <button class="btn btn-success mt-3" type="submit">Güncelleme Yap</button>
    </form>
</div>

