@model CreateSubCategoryDto
@{
    ViewData["Title"] = "CreateSubCategory";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div style="background-color:white">
    <form method="post" asp-action="CreateSubCategory" asp-controller="AdminSubCategory">
        <div class="text-danger" asp-validation-summary="All"></div>
        <label>Kategori İsmi</label>
        <input type="text" class="form-control" asp-for="Name" placeholder="Tür Adını Giriniz">
        <br />
        <button class="btn btn-success mt-3" type="submit">Tür Ekle</button>
    </form>
</div>

