@model List<Category>
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Çalıştığımız Alanlar</h1>
            <p>Kategoriler</p>
        </div>
        <div class="row g-4">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="~/myimages/category/@item.Image" alt="Icon">
                            </div>
                            <h6>@item.Name</h6>
                           @*  <span>123 Properties</span> *@
                        </div>
                    </a>
                </div>
            }
       
        </div>
    </div>
</div>