@model Brand
<div class="container-fluid nav-bar bg-transparent">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
        <a href="index.html" class="navbar-brand d-flex align-items-center text-center">
            <div class="icon p-2 me-2">
                <img class="img-fluid" src="~/myimages/brand/@Model.ImageUrl" alt="Icon" style="width: 30px; height: 30px;">
            </div>
            <h1 class="m-0 text-primary">@Model.Name</h1>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto">
                <a href="/Default/Index/" class="nav-item nav-link">Ana Sayfa</a>
                <a href="/About/Index/" class="nav-item nav-link">Hakkımızda</a>
                <a href="/Product/Index/" class="nav-item nav-link">İlanlarım</a>
                <a href="/Contact/Index/" class="nav-item nav-link">İletişim</a>
                @if (User.Identity.IsAuthenticated)
                {

                    <a class="nav-link" aria-current="page" asp-area="" asp-controller="Account" asp-action="Logout">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        @User.Identity.Name Hoş Geldin
                    </a>

                }
                @if (User.Identity.IsAuthenticated)
                {
                   
                        <a class="nav-link" aria-current="page" asp-area="" asp-controller="Account" asp-action="Logout">
                            <i class="fa-solid fa-right-from-bracket"></i>
                             Çıkış Yap
                        </a>
                    
                }
                else
                {
                   
                        <a class="nav-link" aria-current="page" asp-area="" asp-controller="Account" asp-action="Login">
                            <i class="fa-solid fa-right-from-bracket"></i>
                           Giriş Yap
                        </a>

                    
                }
                
            </div>
        </div>
    </nav>
</div>