@model IEnumerable<ResultGalleryDto>
<div class="col-lg-4 col-md-6">
    <h5 class="text-white mb-4">Fotoğraf Galerisi</h5>
    <div class="row g-2 pt-2">
      @foreach (var item in Model)
        {
            <div class="col-4">
                <img class="img-fluid rounded bg-light p-1" src="~/myimages/gallery/@item.ImageUrl" alt="">
            </div>

        }
      
    </div>
</div>
